<!DOCTYPE html>
<html lang="en">
<head>
    <title>eNotify - Notificações para o seu negócio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="eNotify">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">
    <link rel='shortcut icon' type='image/x-icon' href='/images/enotify-icon.png' />

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    {{# each style}}
    <link rel="stylesheet" type="text/css" href="{{this}}" />
    {{/each}}

    {{#if homepage}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6386556588305663",
            enable_page_level_ads: true
        });
    </script>
    {{/if}}
</head>

<body id={{bodyId}} class="animsition" data-spy="scroll" data-target="#navbar" data-offset="30">
    {{#if dashboard}}
    <!-- HEADER DESKTOP-->
    <header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">
                <div class="header__logo">
                    <a href="/home">
                        <img src="/images/enotify-white.png" alt="eNotify"/>
                    </a>
                </div>
                <div class="header__navbar">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/dashboard">
                                <i class="fas fa-home"></i>Inicio
                                <span class="bot-line"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/product">
                                <i class="fas fa-plus-square"></i>
                                <span class="bot-line"></span>Criar Produto</a>
                        </li>
                        <li class="has-sub">
                            <a href="#">
                                <i class="fas fa-copy"></i>
                                <span class="bot-line"></span>Integração</a>
                            <ul class="header3-sub-list list-unstyled">
                                <li>
                                    <a href="/dashboard/services">Produtos</a>
                                </li>
                                <li>
                                    <a href="/dashboard/integration">Instalação</a>
                                </li>
                            </ul>
                        </li>
                        {{!-- <li>
                            <a href="table.html">
                                <i class="fas fa-question-circle"></i>
                                <span class="bot-line"></span>Ajuda</a>
                        </li> --}}
                    </ul>
                </div>
                <div class="header__tool">
                    <div class="account-wrap">
                        <div class="account-item account-item--style2 clearfix js-item-menu">
                            <div class="content">
                                <a class="js-acc-btn" href="#">{{userName}}</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="content">
                                        <h5 class="name">
                                            <span>{{userName}}</span>
                                        </h5>
                                        <span class="email">{{userEmail}}</span>
                                    </div>
                                </div>
                                {{!-- <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-settings"></i>Configuração</a>
                                    </div>
                                </div> --}}
                                <div class="account-dropdown__footer">
                                    <a href='/login'>
                                        <i class="zmdi zmdi-power"></i>Sair</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- HEADER MOBILE-->
    <header class="header-mobile header-mobile-2 d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="/home">
                        <img src="/images/enotify-white.png" alt="eNotify"/>
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a class="js-arrow" href="#">
                            <i class="fas fa-home"></i>Inicio</a>
                    </li>
                    <li>
                        <a class="js-arrow" href="#">
                            <i class="fas fa-plus-square"></i>Criar Produto</a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-copy"></i>Integração</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="login.html">Produtos</a>
                            </li>
                            <li>
                                <a href="/dashboard/integration">Instalação</a>
                            </li>
                        </ul>
                    </li>
                    {{!-- <li>
                        <a class="js-arrow" href="#">
                            <i class="fas fa-question-circle"></i>Ajuda</a>
                    </li> --}}
                </ul>
            </div>
        </nav>
    </header>
    <div class="sub-header-mobile-2 d-block d-lg-none">
        <div class="header__tool">
            <div class="account-wrap">
                <div class="account-item account-item--style2 clearfix js-item-menu">
                    <div class="content">
                        <a class="js-acc-btn" href="#">{{userName}}</a>
                    </div>
                    <div class="account-dropdown js-dropdown">
                        <div class="info clearfix">
                            <div class="content">
                                <h5 class="name">
                                    <span>{{userName}}</span>
                                </h5>
                                <span class="email">{{userEmail}}</span>
                            </div>
                        </div>
                        {{!-- <div class="account-dropdown__body">
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-settings"></i>Configuração</a>
                            </div>
                        </div> --}}
                        <div class="account-dropdown__footer">
                            <a href='/login'>
                                <i class="zmdi zmdi-power"></i>Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END HEADER MOBILE -->

    <!-- PAGE CONTENT-->
    <div class="page-wrapper">
                <!-- BREADCRUMB-->
            <section class="au-breadcrumb2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a href="/dashboard">Página Inicial</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    <li class="list-inline-item">{{breadcrumb}}</li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- END BREADCRUMB-->
        
        <!-- DASHBOARD PAGE -->
            {{{body}}} 
        <!-- DASHBOARD PAGE -->

    {{!--    
    <!-- COPYRIGHT-->
    <section class="p-t-60 p-b-20">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section> 
    <!-- END COPYRIGHT-->
    --}}
    </div>
    {{else}}
    <!-- SITE PAGE -->
        {{{body}}} 
    {{/if}}

    <!-- jQuery and Bootstrap -->
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <script>
        // Read cookie
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') {
                    c = c.substring(1, c.length);
                }
                if (c.indexOf(nameEQ) === 0) {
                    return c.substring(nameEQ.length, c.length);
                }
            }
            return null;
        }
    </script>

    {{# each javascript}}
    <script src="{{this}}"></script>
    {{/each}}
    {{#if dashboard}}
    <script src="/js/common.js"></script>
    {{/if}}
</body>
</html>