<!-- Nav Menu -->
<div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="index.html">
                        <img src="images/enotify-white.png" alt="eNotify" height="30">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="#home">INÍCIO
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#features">PRODUTO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pricing">PREÇOS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">CONTATO</a>
                            </li>
                            <li class="nav-item">
                                <a href="/login" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Entrar</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<header class="bg-gradient" id="home">
    <div class="container mt-5">
        <h1>Enotify - Notificações Push</h1>
        <p class="tagline">Aumente o retorno e direcionamento de seus clientes com as Notificações Push, uma nova forma de marketing para seu site ou blog!</p>
    </div>
    <div class="img-holder mt-3">
        <img src="/images/site/handcellphone.png" alt="phone" class="img-fluid" style="margin-left: -15%">
    </div>
</header>

{{!-- <div class="client-logos my-5">
    <div class="container text-center">
        <img src="images/client-logos.png" alt="client logos" class="img-fluid">
    </div>
</div> --}}

<div class="section light-bg" id="features">
    <div class="container">

        <div class="section-title">
            <small>PRODUTO</small>
            <h3>Vantagens</h3>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <i class="far fa-smile-beam"></i>
                            <div class="media-body">
                                <h4 class="card-title">Fácil Uso</h4>
                                <p class="card-text">Nossas notificações necessitam poucos passos para a instalação em seu site e/ou blog, começe hoje mesmo!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <i class="fas fa-cogs"></i>
                            <div class="media-body">
                                <h4 class="card-title">Personalizável</h4>
                                <p class="card-text">Criar e personalizar as notificações em nosso Painel é bem simples e sem código. Transforme sua criatividade em marketing!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <i class="fas fa-chart-pie"></i>
                            <div class="media-body">
                                <h4 class="card-title">Google Analytics</h4>
                                <p class="card-text">Opção de o redirecionamento das notificações serem contabilizadas como uma campanha para seus gráficos do Google Analytics.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // end .section -->

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column">
                <img src="images/site/notifications-ex.png" alt="notifications" class="img-flex">
            </div>
            <div class="col-lg-6">
                <h2>O que é Enotify? Como functiona?</h2>
                <p class="mb-4">Enotify é um serviço de mensagens personalizáveis vinda dos sites, que aparecem no desktop ou no aparelho móvel. É uma nova forma de marketing e retenção de clientes.
                <br> Caso esteja interessado ou ainda não entendeu, clique em nossas demos a seguir e <b>aceite receber notificações do site</b>
                para poder vizualizar os exemplos.
                </p>
                <button class="btn btn-primary" onClick="demoPreview('simple')">Demo Simples</button>
                <button class="btn btn-primary" onClick="demoPreview('complete')">Demo Completa</button>
            </div>
        </div>
    </div>
</div>
<!-- // end .section -->


<div class="section light-bg">
    <div class="container">
        <div class="section-title">
            <small>PRODUTO</small>
            <h3>Nossos serviços</h3>
        </div>

        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#communication">Comunicação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#schedule">Agendamento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#dashboard">Painel</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="communication">
                <div class="d-flex flex-column flex-lg-row">
                    <img src="images/site/graphic.png" alt="graphic" class="img-flex tab-img-left">
                    <div>
                        <h2>Comunicação Simplificada</h2>
                        <p class="lead">Uma forma de marketing e comunicação direta com seus clientes sem complicações</p>
                        <p>Fácil criação e uso das notificações para o objetivo de seu marketing, passe uma mensagem direta e engaje um marketing para seus clientes
                            e leitores através de um sistema de notificações para desktop e celulares. Guie, atraia ainda mais e no momento certo seus clientes para seus objetivos.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="schedule">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>Agende as mensagens</h2>
                        <p class="lead">Agende suas notificações para atingir seus clientes no momento certo</p>
                        <p>Aproveite o sistema de agendamento para exibir notificações após seu cliente/leitor abandonar seu site, atraindo-o de volta. Escolha os dias e os horários das 
                            notificações, elas serão exibidas no horário escolhido ou no momento em que o cliente abrir seu navegador.
                            <br><br>
                            <b>Atenção:</b> Para este serviço será necessário que o seu site tenha o protocolo HTTPS ativo para poder ser implementado.
                        </p>
                    </div>
                    {{!-- <img src="images/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"> --}}
                </div>
            </div>
            <div class="tab-pane fade" id="dashboard">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>Painel administrativo Enotify</h2>
                        <p class="lead">Acesso completo a um painel administrativo</p>
                        <p> Aproveite nosso painel para poder prosseguir com a integração do serviço com o apoio de nosso suporte. Crie e gerencie suas notificações em nosso painel!
                            <br>
                            Suas mensagens e modificações no ar em tempo real para seus clientes.</p>
                    </div>
                    <img src="images/site/dashboard-img.jpg" alt="painel vetor" class="img-flex tab-img-right">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // end .section -->

{{!-- <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="images/dualphone.png" alt="dual phone" class="img-fluid">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <div class="box-icon">
                        <span class="ti-rocket gradient-fill ti-3x"></span>
                    </div>
                    <h2>Launch your App</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime
                        ratione </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<!-- // end .section -->

<!-- // end .section -->


{{!-- <div class="section">
    <div class="container">
        <div class="section-title">
            <small>TESTIMONIALS</small>
            <h3>What our Customers Says</h3>
        </div>

        <div class="testimonials owl-carousel">
            <div class="testimonials-single">
                <img src="images/client.png" alt="client" class="client-img">
                <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional
                    ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric
                    partnerships.
                </blockquote>
                <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                <p class="text-primary">United States</p>
            </div>
            <div class="testimonials-single">
                <img src="images/client.png" alt="client" class="client-img">
                <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional
                    ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric
                    partnerships.
                </blockquote>
                <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                <p class="text-primary">United States</p>
            </div>
            <div class="testimonials-single">
                <img src="images/client.png" alt="client" class="client-img">
                <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional
                    ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric
                    partnerships.
                </blockquote>
                <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                <p class="text-primary">United States</p>
            </div>
        </div>
    </div>
</div> --}}
<!-- // end .section -->


{{!-- <div class="section light-bg" id="gallery">
    <div class="container">
        <div class="section-title">
            <small>GALLERY</small>
            <h3>App Screenshots</h3>
        </div>

        <div class="img-gallery owl-carousel owl-theme">
            <img src="images/screen1.jpg" alt="image">
            <img src="images/screen2.jpg" alt="image">
            <img src="images/screen3.jpg" alt="image">
            <img src="images/screen1.jpg" alt="image">
        </div>
    </div>
</div> --}}
<!-- // end .section -->

<div class="section" id="pricing">
    <div class="container">
        <div class="section-title">
            <small>PREÇOS</small>
            <h3>Planos Enotify</h3>
        </div>

        <div class="card-deck">
            <div class="card pricing">
                <div class="card-head">
                    <small class="text-primary">Blogs e sites menores</small>
                    <span class="price">R$ 20
                        <sub>/m</sub>
                    </span>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">10 Projects</div>
                    <div class="list-group-item">5 GB Storage</div>
                    <div class="list-group-item">Basic Support</div>
                    <div class="list-group-item">
                        <del>Collaboration</del>
                    </div>
                    <div class="list-group-item">
                        <del>Reports and analytics</del>
                    </div>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block">Garanta já!</a>
                </div>
            </div>
            <div class="card pricing popular">
                <div class="card-head">
                    <small class="text-primary">Ecommerce</small>
                    <span class="price">R$ 60
                        <sub>/m</sub>
                    </span>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">Unlimited Projects</div>
                    <div class="list-group-item">100 GB Storage</div>
                    <div class="list-group-item">Priority Support</div>
                    <div class="list-group-item">Collaboration</div>
                    <div class="list-group-item">Reports and analytics</div>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block">Garanta já!</a>
                </div>
            </div>
            <div class="card pricing">
                <div class="card-head">
                    <small class="text-primary">Plano Completo</small>
                    <span class="price">$100
                        <sub>/m</sub>
                    </span>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">Unlimited Projects</div>
                    <div class="list-group-item">Unlimited Storage</div>
                    <div class="list-group-item">Collaboration</div>
                    <div class="list-group-item">Reports and analytics</div>
                    <div class="list-group-item">Web hooks</div>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block">Garanta já!</a>
                </div>
            </div>
        </div>
        <!-- // end .pricing -->
    </div>
</div>
<!-- // end .section -->

<div class="section light-bg">
    <div class="container">
        <div class="section-title">
            <h3>Como prosseguir?</h3>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex align-items-center">
                <ul class="list-unstyled ui-steps">
                    <li class="media">
                        <div class="circle-icon mr-4">1</div>
                        <div class="media-body">
                            <h5>Escolha um dos planos</h5>
                            <p>Selecione um dos pacotes acima que mais se encaixe com o seu perfil e necessidade, você entrará em contato conosco.</p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <div class="circle-icon mr-4">2</div>
                        <div class="media-body">
                            <h5>Contato</h5>
                            <p>Aproveite para retirar todas as suas dúvidas antes de ser um de nossos clientes. Siga as etapas que serão enviadas via e-mail para ingressar em nosso serviço.</p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="circle-icon mr-4">3</div>
                        <div class="media-body">
                            <h5>Acesso ao Painel</h5>
                            <p>Iremos criar e liberar o painel administrativo, junto com a integração. Aproveite nosso painel e começe a criar as notificações para seu site.</p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="circle-icon mr-4">4</div>
                        <div class="media-body">
                            <h5>Suporte</h5>
                            <p>Sempre que precisar entre em contato para retirar dúvidas e ter ajuda para qualquer integração e criação de nossos serviços. Estamos prontos para atendê-lo.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{!-- <div class="section pt-0">
    <div class="container">
        <div class="section-title">
            <small>FAQ</small>
            <h3>Frequently Asked Questions</h3>
        </div>

        <div class="row pt-4">
            <div class="col-md-6">
                <h4 class="mb-3">Can I try before I buy?</h4>
                <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
                    nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
                <h4 class="mb-3">What payment methods do you accept?</h4>
                <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
                    nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>

            </div>
            <div class="col-md-6">
                <h4 class="mb-3">Can I change my plan later?</h4>
                <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
                    nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
                <h4 class="mb-3">Do you have a contract?</h4>
                <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
                    nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>

            </div>
        </div>
    </div>

</div> --}}
<!-- // end .section -->



{{!-- <div class="section bg-gradient">
    <div class="container">
        <div class="call-to-action">

            <div class="box-icon">
                <span class="ti-mobile gradient-fill ti-3x"></span>
            </div>
            <h2>Download Anywhere</h2>
            <p class="tagline">Available for all major mobile and desktop platforms. Rapidiously visualize optimal ROI rather than enterprise-wide
                methods of empowerment. </p>
            <div class="my-4">

                <a href="#" class="btn btn-light">
                    <img src="images/appleicon.png" alt="icon"> App Store</a>
                <a href="#" class="btn btn-light">
                    <img src="images/playicon.png" alt="icon"> Google play</a>
            </div>
            <p class="text-primary">
                <small>
                    <i>*Works on iOS 10.0.5+, Android Kitkat and above. </i>
                </small>
            </p>
        </div>
    </div>

</div> --}}
<!-- // end .section -->

<div class="py-5 bg-gradient" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {{!-- <p class="mb-2">
                    <span class="ti-location-pin mr-2"></span> 1485 Pacific St, Brooklyn, NY 11216 USA</p> --}}
                <div class=" d-block d-sm-inline-block">
                    <span class="mb-2">
                        <i class="far fa-envelope mr-2"></i>
                        <a class="mr-4" href="mailto:enotify@gmail.com?Subject=Contato%20Site" target="_top">enotify@gmail.com</a>
                    </span>
                </div>
                <div class="d-block d-sm-inline-block">
                    <span class="mb-0">
                        <i class="fab fa-skype mr-2"></i>
                        <a href="tel:51836362800">Skype: Enotify</a>
                    </span>
                </div>
            </div>
            {{!-- <div class="col-lg-6">
                <div class="social-icons">
                    <a href="#">
                        <span class="ti-facebook"></span>
                    </a>
                    <a href="#">
                        <span class="ti-twitter-alt"></span>
                    </a>
                    <a href="#">
                        <span class="ti-instagram"></span>
                    </a>
                </div>
            </div> --}}
        </div>
    </div>
</div>

<footer class="my-5 text-center">
    <!-- Copyright removal is not prohibited! -->
    <p class="mb-2">
        <small>COPYRIGHT © 2017. ALL RIGHTS RESERVED. MOBAPP TEMPLATE BY
            <a href="https://colorlib.com">COLORLIB</a>
        </small>
    </p>
{{!-- 
    <small>
        <a href="#" class="m-2">PRESS</a>
        <a href="#" class="m-2">TERMS</a>
        <a href="#" class="m-2">PRIVACY</a>
    </small> --}}
</footer>