<section class="p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="center-title">Configurando a Integração</h1>
                <p class="subtitle">Bem vindo ao eNotify, estamos muito feliz de ter você como cliente, antes de proseguirmos precisamos que
                    siga alguns passos para a integração de nossos serviços.
                    <br> Em caso de dúvida ou dificuldade basta entrar em contato com nosso suporte</p>
            </div>
        </div>
    </div>
</section>

<!-- STATISTIC-->
<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><strong class="card-title">Escolha o tipo de Integração</strong></div>
                    <div class="card-body">
                        <p>Escolha a sua plataforma para a integração, caso sua plataforma não esteja listada selecione a opção de <b>Código</b>, para instalar nosso serviço e arquivos via código em seu site. É super fácil.</p>
                        <div class="row" style="text-align:center">
                            <div class="col-xl-3 integration-opts">
                                <a href="#" onclick="integrationPage('blogger'); return false;">
                                    <div class="logos-img-area">
                                        <img class="logos-img" src="/images/integration/blogger.png" alt="Blogger Logomarca">
                                    </div>
                                    <h5>Blogger</h5>
                                </a>
                            </div>
                            <div class="col-xl-3 integration-opts">
                                <a href="#" onclick="integrationPage('custom'); return false;">
                                    <div class="logos-img-area">
                                        <img class="logos-img" src="/images/integration/code.png" alt="Code Icone">
                                    </div>
                                    <h5>Código</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIREBASE CARD -->
                <div id="firebase-card" class="card" style="display:none">
                    <div class="card-header">
                        <strong class="card-title">Primeiro Passo: FCM</strong>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mb-3">Criando o Fcm</h4>
                        <p class="card-text">Complete esta sessão antes de baixar e implementar os arquivos em seu projeto. Os navegadores utilizam
                            o serviço Firebase Cloud Messaging (FCM) para o serviço de notificações. Para ter melhor uso
                            deste serviço tenha em mente de ter o protocolo HTTPS integrado ao seu website. Iremos utilizar
                            as informações do seu projeto firebase para nossos serviços.</p>
                        <ul class="integration-list">
                            <li>Com sua conta do google de preferencia abra o
                                <a href="https://console.firebase.google.com/" rel="nofollow" target="_blank">Firebase Console</a> e crie um novo projeto, preencha os campos solicitados conforme o exemplo
                                a seguir, escolha um nome a sua preferencia.
                                <img src="/images/integration/integration-pt1.jpg" alt="Firebase New Project for Web Push">
                            </li>
                            <li>Ao criar irá abrir o dashboard do Firebase, no canto superior esquerdo clique na engrenagem e
                                selecione "Configurações do projeto" para abrir as configurações.
                                <img src="/images/integration/integration-pt2.jpg" alt="Firebase New Project for Web Push">
                            </li>
                            <li>Nesta página (Aba Geral) precisaremos que nos forneça o
                                <b>Código do projeto</b> e a
                                <b>Chave de Api da Web</b>, copie e cole nos respectivos campos de nosso formulário abaixo.
                                <img src="/images/integration/integration-pt3.jpg" alt="Firebase New Project for Web Push">
                            </li>
                            <li>Volte ao Dashboard e clique em "Cloud Messaging" para abrir a página de Credenciais do projeto</li>
                            <li>Agora para finalizar copie e cole os campos
                                <b>Chave do servidor</b> e
                                <b>Código do remetente</b> nos respectivos campos de nosso formulário, com tudo preenchido basta
                                salvar nosso formulário e seguir para a próxima etapa.
                                <img src="/images/integration/integration-pt4.jpg" alt="Firebase New Project for Web Push">
                            </li>
                        </ul>

                        <h4 class="card-title mb-3">Configurando o Fcm com o eNotify</h4>
                        <p class="card-text">
                            Preencha os campos do formulário com os seus dados do Firebase vistos anteriormente para prosseguir com a nossa integração.
                        </p>
                        <form id="fcmForm" action="/fcmconfig" method="post" class="form-horizontal">
                            <input type="hidden" id="guid" name="guid" value="{{userGuid}}">
                            <div class="row form-group">
                                <div class="col-md-12 col-xl-2">
                                    <label for="name" class="form-control-label">Código do projeto:</label>
                                </div>
                                <div class="col-md-12 col-xl-10">
                                    <input type="text" id="fcmproj" name="fcmproj" placeholder="Código do projeto" class="form-control" required>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12 col-xl-2">
                                    <label for="name" class="form-control-label">Chave de Api da Web:</label>
                                </div>
                                <div class="col-md-12 col-xl-10">
                                    <input type="text" id="fcmapi" name="fcmapi" placeholder="Chave de Api da Web" class="form-control" required>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12 col-xl-2">
                                    <label for="name" class="form-control-label">Chave do servidor:</label>
                                </div>
                                <div class="col-md-12 col-xl-10">
                                    <input type="text" id="fcmtoken" name="fcmtoken" placeholder="Chave do servidor" class="form-control" required>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12 col-xl-2">
                                    <label for="name" class="form-control-label">Código do remetente:</label>
                                </div>
                                <div class="col-md-12 col-xl-10">
                                    <input type="text" id="fcmsender" name="fcmsender" placeholder="Código do remetente" class="form-control" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                            <button type="button" id="modalButton" data-toggle="modal" data-target="#smallmodal" style="display:none;opacity:0"></button>
                        </form>
                    </div>
                </div>
                
                <p id="firebase-info" class="card-info" style="display:none">
                    <b>Nota: </b> Caso as configurações do Firebase (FCM) sejam modificadas, será necessário também trocar em
                    nossa integração, informando os campos necessário novamente, copiando e inserindo o novo código gerado
                    para o Service-Worker, durante o tempo sem a alteração o serviço eNotify ficará indisponível no site.
                    <br>
                    <br> Em caso de dúvida e necessidade de alterar as configurações, fale com o nosso suporte para ajudar a
                    guiar na decisão e nos passos a se seguir.
                </p>
                <!-- END FIREBASE CARD -->

                <!-- INTEGRATION CARD -->
                <div id="integration-card" class="card" style="display:none">
                    <div class="card-header">
                        <strong class="card-title">Segundo Passo: Integração</strong>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mb-3">Arquivos</h4>
                        <p class="card-text">
                            A integração no eNotify é simples, principalmente se com o protocolo Https ativo aproveitando todas as vantagens e produtos,
                            basta você seguir mais esses dois passos no diretório do seu website.
                        </p>
                        <ul class="integration-list">
                            <li> Faça o download dos 2 arquivos a seguir e cole eles na
                                <b>Raiz do seu projeto:</b>
                                <div class="file-code">
                                    <a target="_blank" download href="/js/integration/manifest.json">
                                        <i class="fas fa-file-code"></i>manifest.json</a>
                                    <a target="_blank" download href="/js/integration/service-worker.js">
                                        <i class="fas fa-file-code"></i>service-worker.js</a>
                                    <p>Para entender se o arquivo está na raiz os mesmos deve estar acessivel em uma url parecida
                                        com a do exemplo:
                                        <b>www.seusite.com.br/service-worker.js</b>
                                    </p>
                                </div>
                            </li>
                            <li> Copie este código e abra o arquivo service-worker.js que acabou de baixar, nele substitua a mesma
                                parte que possue este código, há comentários no arquivo de onde colar em caso de dúvida.
                                <textarea name="scriptBody" id="scriptBody" rows="8" class="form-control" placeholder="Siga o tutorial e preencha o formulário para gerar o código"
                                    readonly></textarea>
                            </li>
                            <li> Insira esta linha de código Script nas páginas do seu website.
                                <br>
                                <b>Dica: </b> Caso queria você pode inserir este código somente nas páginas que queira nosso
                                serviço funcionando ou pode inserir em todas as páginas do seu website.
                                <textarea name="scriptBody" id="scriptBody" rows="1" class="form-control" readonly>
                                    <script src="https://enotify.herokuapp.com/js/integration/enotify-service.min.js" id="{{userGuid}}"></script>
                                </textarea>
                            </li>
                        </ul>
                        <p class="card-greetings">Tudo pronto para utilizar nossos serviços. Estamos felizes por ser um de nossos clientes!</p>
                    </div>
                </div>
                <!-- END INTEGRATION CARD -->

                <!-- BLOGGER CARD -->
                <p id="blogger-info" class="card-info" style="display:none">
                    <b>Importante: </b> Antes de prosseguir saiba que para nosso serviço funcionar em seu blog, precisamos que o mesmo seja acessado via <b>Https</b>, 
                    caso não possua isto ativo em seu site basta seguir os passos a seguir que também mostrarão como ativar o Https para seu site Blogger e torná-lo seguro.
                    <br>
                    <br> Infelizmente o produto de <b>Saida</b> não pode ser integrada ao Blogger, então nossos serviços de agendamento futuros de notificações não
                    poderão ser integradas pelas restrinções do Blogger.
                </p>

                <div id="blogger-card" class="card" style="display:none">
                    <div class="card-header">
                        <strong class="card-title">Configurando notificações no Blogger</strong>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mb-3">Implementando </h4>
                        <p class="card-text"> Entre em sua conta e abra o projeto/site para a integração. </p>
                        <ul class="integration-list">
                            <li>No painel de seu site, selecione a opção <b>Configurações > Básico</b>. Procure neste painel a opção chamada "HTTPS" e ative o redirecionamento para https na página.
                                <img src="/images/integration/integration-blog1.png" alt="Integração Blogger eNotify">
                                <img src="/images/integration/integration-blog2.jpg" alt="Integração Blogger eNotify">
                            </li>
                            <li>Feito isso, novamente no painel esquerdo, clique na categoria <b>Tema</b>. Na parte onde aparece o tema do seu site clique em "Editar HTML" e irá abrir um editor de texto.</li>
                            <li>Agora procure logo no inicio do editor por uma tag chamada <b>head</b>, copie e cole o seguinte código ele será responsável pela instalação do nosso serviço:
                            <br>
                                <textarea name="scriptBody" id="scriptBody" rows="1" class="form-control" readonly>
                                    <script src="https://enotify.herokuapp.com/js/integration/enotify-serviceblog.min.js" id="{{userGuid}}"></script>
                                </textarea>
                            <br>
                            A seguir um exemplo da localização para a tag:
                                <img src="/images/integration/integration-blog3.jpg" alt="Integração Blogger eNotify">
                            </li>
                        </ul>
                        <p class="card-greetings">Tudo pronto para utilizar nossos serviços. Estamos felizes por ser um de nossos clientes!</p>
                    </div>
                </div>
                <!-- END BLOGGER CARD -->
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC -->

<!-- MODAL -->
<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel">
    <div class="modal-dialog modal-xd" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="smallmodalLabel">eNotify</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Seus dados foram salvas com sucesso, uma nova configuração foi gerada!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->