<main class="loginArea">
  <div class="headerLogin">
    <a href="/home">
      <img src="/images/enotify-blue.png" alt="eNotify" height="40">
    </a>
  </div>
  <form method="POST" action="/login">
    <div class="form-group">
      <label for="username">Usuário</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu usuário" required>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>

  <p>* Caso não possua uma conta ainda entre em contato conosco para conhecer nossos serviços</p>
</main>

<div>
  <a href="mailto:innixstudio@gmail.com?Subject=Innix%20Notify" target="_top" class="loginSendEmail">
    <i class="fas fa-paper-plane"></i>
    Contate-nos
  </a>
</div>