<section class="p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{#if idProd}}
                <h1 class="center-title">Editando Produto
                    <b>#{{idProd}}</b>
                </h1>
                {{else}}
                <h1 class="center-title">Novo Produto</h1>
                {{/if}}
                <p class="subtitle"> Crie e modifique seus serviços da eNotify, em caso de dúvida sobre qual serviço escolher para seu site confira
                    a aba de
                    <a href="/dashboard/services" rel="nofollow">Produtos</a> e conheça mais.
            </div>
        </div>
    </div>
</section>

<!-- STATISTIC-->
<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form id="productForm" action="/" method="post" class="form-horizontal">
                            <div class="top-form">
                                <label class="label-status">Status do Produto: </label>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" data-toggle="switch" id="status" name="status" value="true" class="custom-control-input" />
                                    <label class="custom-control-label" for="status"></label>
                                </div>
                                <button type="button" class="btn btn-schedule btn-sm" data-toggle="modal" data-target="#mediumModal">
                                    <i class="far fa-calendar-alt"></i>
                                    Agendar
                                </button>
                            </div>

                    <div class="card">
                        <div class="card-header">
                            <strong>Configuração geral</strong>
                        </div>
                        <div class="card-body card-block">
                            <input type="hidden" id="idProd" name="idProd" value="{{idProd}}">
                            <input type="hidden" id="guid" name="guid" value="{{userGuid}}">
                            <input type="hidden" id="client" name="client" value="{{userName}}">
                            <div class="row form-group">
                                <div class="col-12 col-md-9">
                                    <label for="name" class="form-control-label">Nome Fantasia</label>
                                    <input type="text" id="name" name="name" placeholder="Nome personalizado do produto" class="form-control register-input"> {{!--
                                    <small class="form-text text-muted">This is a help text</small> --}}
                                </div>
                                <div class="col-12 col-md-3">
                                    <label for="type" class="form-control-label">Tipo do Produto</label>
                                    <select name="type" id="type" class="form-control">
                                        <option value="entrance">Entrada</option>
                                        <option value="recomendation">Recomendação</option>
                                        <option value="wayout">Saida</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-6">
                                    <label for="host" class="form-control-label">URL da Página</label>
                                    <div class="help-tip">
                                        <p>Preencha com a Url da página onde esta notificação deve aparecer</p>
                                    </div>
                                    <input type="text" id="host" name="host" placeholder="URL da Página" class="form-control register-input">
                                </div>

                                <div class="col col-md-3">
                                    <label for="timeout" class="form-control-label">Tempo de Saida (Opcional)</label>
                                    <div class="help-tip">
                                        <p>Tempo da notificação até entrar em repouso, este campo deve ser preenchido em milisegundos.
                                            <br> Ex.: 30000 = 30 segundos</p>
                                    </div>
                                    <input type="number" id="timeout" name="timeout" placeholder="time" class="form-control register-input" value="0" step="10000">
                                </div>
                                
                                <div class="col col-md-3">
                                    <label for="device" class="form-control-label">Dispositivos</label>
                                    <select name="device" id="device" class="form-control">
                                        <option value="both">Ambos</option>
                                        <option value="desktop">Desktop</option>
                                        <option value="mobile">Móveis</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong>Informações do produto</strong>
                        </div>

                        <div class="card-body card-block">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label for="icon" class="form-control-label">Url do Icone</label>
                                    <br>
                                    <input type="text" id="icon" name="icon" placeholder="Icone na Enotify" class="form-control register-input images-input" readonly>
                                    <div class="btn btn-primary file-upload">
                                        <span><i class="fas fa-upload"></i> Importar</span>
                                        <input type="file" id="iconUpload" class="image-file" name="icon" data-prod="{{idProd}}" accept="image/png, image/jpeg">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="image" class="form-control-label">Url Imagem do Topo</label>
                                    <br>
                                    <input type="text" id="image" name="image" placeholder="Url do Header" class="form-control register-input images-input" readonly>
                                    <div class="btn btn-primary file-upload">
                                        <span><i class="fas fa-upload"></i> Importar</span>
                                        <input type="file" id="headerUpload" class="image-file" name="header" data-prod="{{idProd}}" accept="image/png, image/jpeg">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label for="link" class="form-control-label">Link de redirecionamento</label>
                                    <div class="help-tip">
                                        <p>Link principal que abrirá quando houver ação do cliente na notificação</p>
                                    </div>
                                    <input type="text" id="link" name="link" placeholder="Link para redirecionamento da notificação" class="form-control register-input">
                                </div>
                                <div class="col-md-6">
                                    <label for="title" class="form-control-label">Titulo</label>
                                    <input type="text" id="title" name="title" placeholder="Título da notificação" class="form-control register-input">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="body" class="form-control-label">Texto do Corpo</label>
                                    <textarea name="body" id="body" rows="6" placeholder="Texto principal da notificação" class="form-control" maxlength="200"></textarea>
                                    <p class="count-row" id="countMsg">200 caracteres restantes.</p>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Deseja ativar UTM para o Google Analytics?</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="utmStatus" id="utmConfirm" value="true">
                                        <label class="form-check-label" for="utmConfirm">Sim</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="utmStatus" id="utmUnconfirm" value="false" checked>
                                        <label class="form-check-label" for="utmUnconfirm">Não</label>
                                    </div>
                                    <div id="utmForm">
                                        <label for="link" class="form-control-label">UTM Analytics</label>
                                        <div class="help-tip">
                                            <p>Utm adicionado ao link para o Google Analytics, tenha os dados enotify em seus
                                                gráficos.</p>
                                        </div>
                                        <input type="text" id="utm" name="utm" placeholder="Parametros do UTM" class="form-control register-input" value="utm_source=enotify&utm_medium=notification&utm_campaign=enotify-notification">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <strong>Botões Extras</strong>
                        </div>

                        <div class="card-body card-block">
                            <div class="row form-group">
                                <div class="col-md-2">
                                    <label for="type" class="form-control-label">Icone</label>
                                    <div id="my-icon-select"></div>
                                    <input type="hidden" id="iconview" name="iconview">
                                </div>

                                <div class="col col-md-10">
                                    <label for="view" class="form-control-label">Botão Vizualizar</label>
                                    <input type="text" id="view" name="view" placeholder="Texto do botão" class="form-control register-input">
                                </div>
                            </div>
                                {{!-- <div class="col col-md-6">
                                    <label for="purchase" class="form-control-label">Botão Comprar</label>
                                    <input type="text" id="purchase" name="purchase" placeholder="Text" class="form-control register-input">
                                </div>
                             --}}
                            {{!-- <div class="row form-group">
                                <div class="col col-md-12">
                                    <label for="purchaseUrl" class="form-control-label">Link da compra</label>
                                    <input type="text" id="purchaseUrl" name="purchaseUrl" placeholder="Text" class="form-control register-input">
                                </div>
                            </div> --}}
                        </div>
                    </div>

                    <!-- MODAL-->
                    <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true"
                        style="display: none;">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="mediumModalLabel">Agendamento</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Esta opção é para as notificações de Saida, escolha abaixo o horário do dia que ficará disponivel para que a notificação
                                        apareça para seus usuários.
                                        <br> A notificação ficará visivel neste horario caso o cliente esteja com o navegador
                                        aberto ou então a partir deste momento na proxima vez que o navegador for aberto
                                        no dia.
                                    </p>
                                    {{!--
                                    <label for="purchase" class="form-control-label">Token do Firebase</label>
                                    <input type="text" id="fcmtoken" name="fcmtoken" placeholder="Text" class="form-control register-input"> --}} {{!--
                                    <select name="dateCondition" id="dateCondition" class="form-control">
                                        <option value="allday">Uma vez por dia</option>
                                    </select> --}}
                                    <h5 for="type" class="form-control-label">Horário</h5>
                                    <div class='input-group date' id='datetimepicker'>
                                        <input type='text' name="dateTime" id="dateTime" class="form-control" value="" />
                                        <span class="input-group-addon">
                                            <i class="far fa-clock"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL -->

                    <div class="register-buttons">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fas fa-check"></i> Salvar
                        </button>
                        <button type="button" class="btn btn-preview btn-sm" onclick="pushPreview()">
                            <i class="fas fa-eye"></i> Vizualizar
                        </button>
                        <button type="button" id="modalButton" data-toggle="modal" data-target="#smallmodal" style="display:none;opacity:0"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC-->

<!-- MODAL -->
<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel">
    <div class="modal-dialog modal-xd" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="smallmodalLabel">eNotify</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->