<section class="p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="center-title">Conheça os Produtos</h1>
                <p class="subtitle">Saiba um pouco mais sobre os produtos que oferecemos e dicas de uso que para ter  sucesso e rentabilidade maior em seu site</p>
            </div>
        </div>
    </div>
</section>

<!-- STATISTIC-->
<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card">
                    <div class="card-img-area">
                        <img class="card-img-top" src="/images/dashboard/entrance.jpg" alt="Imagem produto entrada">
                    </div>
                    <div class="card-prods">
                        <h4 class="card-title mb-3">Notificação de Entrada</h4>
                        <p class="card-text">Uma notificação de entrada é perfeita para os casos em que você deseja uma comunicação rápida e objetiva
                            com seus usuários.
                        </p>
                        <h5>Quais os objetivos deste produto?</h5>
                        <ul>
                            <li>Comunicação rápida e curta com usuários</li>
                            <li>Divulgação de Cupons de desconto ativo no site</li>
                            <li>Divulgação e redirecionamento do usuários entre blog e ecommerce da empresa</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="card">
                    <div class="card-img-area">
                        <img class="card-img-top" src="/images/dashboard/recommendation.jpg" alt="Imagem produto entrada">
                    </div>
                    <div class="card-prods">
                        <h4 class="card-title mb-3">Notificação de Recomendação</h4>
                        <p class="card-text">Esta notificação é uma ótima forma de publicidade para seu blog ou ecommerce. Boa para divulgações
                            de promoções, descontos e determinados produtos e/ou categorias através de banners e botões com
                            ações.
                        </p>
                        <h5>Quais os objetivos deste produto?</h5>
                        <ul>
                            <li>Publicidade completa de produtos, categorias e eventos no site</li>
                            <li>Divulgação de produto e compra do mesmo</li>
                            <li>Chamar uma maior atenção ao entrar na página que contem este produto</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="card">
                    <div class="card-img-area">
                        <img class="card-img-top" src="/images/dashboard/wayout.jpg" alt="Imagem produto entrada">
                    </div>
                    <div class="card-prods">
                        <h4 class="card-title mb-3">Notificação de Saida</h4>
                        <p class="card-text">Notificação de Saida é perfeita para atrair o cliente de volta ao site, a notificação é acionada
                            durante os dias seguintes nos horários definidos para os clientes que abandonaram o site.
                        </p>
                        <h5>Quais os objetivos deste produto?</h5>
                        <ul>
                            <li>Trazer maior retorno de cliente</li>
                            <li>Datas comemorativas e ofertas</li>
                            <li>Comunicação rápida ou Divulgação completa</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Dicas importantes</strong>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Habilitar e desabilitar Notificações</h4>
                        <p class="card-text">Quando estiver criando os produtos não esqueça de colocar a página em exato que quer nosso produto
                            e de habilitar ele no painel para começar a gerar as notificações.
                            <br> Sempre que for habilitar uma nova notificação em uma mesma página, não esqueça de desativar
                            a anterior, com excessão da Notificação de Saida, pois ela não aparece diretamente em sua página</p>
                        <br>
                        <h4 class="card-title">Evite excesso</h4>
                        <p class="card-text">Cuidado com o excesso de notificações no site, geralmente uma ou duas notificações já são o suficiente
                            dependendo da ocasião, o excesso de notificações pode ter um efeito contrário do que o desejado
                            para o consumidor. Cuidado para não ter várias notificações ativadas em uma mesma página.
                        </p>
                        <br>
                        <h4 class="card-title">Datas Comemorativas</h4>
                        <p class="card-text">As notificações, principalmente a de Saida, são potentes marketings para datas comemorativas, sempre
                            que puder prepare as notificações com antecedencia nestas datas para acertar em cheio e aumentar
                            sua receita com as melhores propagandas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC-->