body#login {
    position: relative;
    height: 100vh;
    background-color: rgb(74, 13, 143);
    background: -moz-linear-gradient(135deg, rgba(74, 13, 143, 0.9) 0%, rgba(250, 0, 118, 0.8) 100%);
    background: -webkit-linear-gradient(135deg, rgba(74, 13, 143, 0.9) 0%, rgba(250, 0, 118, 0.8) 100%);
    background: linear-gradient(135deg, rgba(74, 13, 143, 0.9) 0%, rgba(250, 0, 118, 0.8) 100%);

    background: linear-gradient(135deg, rgba(74, 13, 143, 0.9) 0%, rgba(250, 0, 118, 0.8) 100%);
}

.loginArea {
    position: relative;
    max-width: 450px;
    width: 85%;
    margin: 0 auto;
    background: #fff;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 25px;
    box-shadow: 0px 0px 20px rgb(87, 80, 87);
    border-radius: .25rem;
}

.headerLogin {
    display: block;
    margin-bottom: 12px;
    text-align: center;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

button[type="submit"] {
    width: 100%;
    background-color: #5c108f;
    border-color: #5c108f;
    cursor: pointer;
    margin-top: 10px;
}

p {
    color: #633991;
    margin: 20px 0 0 0;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
}

.loginSendEmail {
    position: absolute;
    margin: 25px;
    bottom: 0;
    right: 0;
    background: #5c108f;
    color: #fff!important;
    text-decoration: none!important;
    font-weight: 600;
    padding: 12px;
    border-radius: .8rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: color .15s ease-in-out,background-color .15s ease-in-out;
}

.loginSendEmail:hover{
    background: #0069d9;
}